<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="poppinsMedium">Menú</h4>
                    </div>
                    <div class="col-md-6">
                        <div id="searchDiv" class="col">
                            <input id="search" type="text" class="form-control " [(ngModel)]="searchText">
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="modal==false && modal2==false">
                        <img class="settingsImg" src="../../../assets/images/iconos/settings.png" alt="" width="35"
                            style="cursor: pointer;" (click)="settings()">
                    </div>
                    <div class="col-md-3" *ngIf="modal2==true">
                        <button type="button" class="close mr-2" aria-label="Close" (click)='closeModal()'>
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="row categoryTable">
                    <div class="col categoryGrid" *ngFor="let categoria of categoriasData ; let index = index">
                        <a [routerLink]="['../menuProduct']"
                            [state]="{'category':categoria.id, 'modal':modal,'modal2':modal2}">
                            <div class="categoryCard">
                                <div class="imgContainer">
                                    <img class="imgCategory" src="{{categoria.imagen}}" alt="">
                                </div>
                                <h4 class="poppinsLight categoryName">{{categoria.nombre}}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="textViewModal" *ngIf="modal==true">
                    <a (click)="openModal()"> Ver orden</a>
                </div>
            </div>
        </div>
    </div>
</div>