<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Cliente</h4>
        <input type="text" class="form__field" value="Andres Orjuez" name="user" disabled />
        <h4>Correo Electronico</h4>
        <input type="text" class="form__field" value="andresorjuez15@gmail.com" name="user" disabled />
      </div>
      <div class="col-md-4">
        <h4>C.C.</h4>
        <input type="text" class="form__field" value="1025489745" name="user" disabled />
        <h4>Dirección </h4>
        <input type="text" class="form__field" value="calle 13 # 17-29" name="user" disabled />
      </div>
      <div class="col-md-4">
        <h4>Celular:</h4>
        <input type="text" class="form__field" value="3168250749" name="user" disabled />
        <h4>Ciudad</h4>
        <input type="text" class="form__field" value="Zipaquirá" name="user" disabled />
      </div>
    </div>
  </div>
  <button class="btn-floating"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>
