<div class="container">
  <div class="row">
    <div class="col-md-9" style="padding: 0px;">
      <div class="containerImage">
        <img src="../../../assets/image/zebra-on-grassland-in-africa-4RBNPPT.jpg" alt="Qubit-Contable">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form">
        <div class="imageHeader">
          <img src="../../../assets/Logo/LogoContable.png" alt="">
        </div>
        <form action="" class="formLogin">
          <h3 style="margin-bottom: 1px;">Iniciar Sesion</h3>
          <p style="margin-bottom: 10vh;">Bienvenido a Qubit contable</p>
          <input type="text" class="form__field" placeholder="Usuario" name="user" required />
          <input type="password" class="form__field" placeholder="Contraseña" name="user" required
            style="margin-bottom: 2px;" />
          <a href="">Olvide mi contraseña</a>
          <div style="text-align: center; margin-top: 6vh;">
            <button type="submit" class="btn mt-5 titles">Continuar</button>
          </div>
        </form>
      </div>
      <div class="footer">
        <p style="margin: auto;">Qubit-Software c Derechos Reservados 2020</p>
      </div>
    </div>
  </div>
</div>
