<div class="card">
    <div class="row">
      <div class="col-md-3 ml-4 ">
        <h4 class="poppinsMedium">Cliente</h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="Andres Orjuez" name="user" disabled />
        <h4 class="poppinsMedium">Correo Electronico</h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="andresorjuez15@gmail.com" name="user" disabled />
      </div>
      <div class="col-md-3 offset-1">
        <h4 class="poppinsMedium">C.C.</h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="1025489745" name="user" disabled />
        <h4 class="poppinsMedium">Dirección </h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="calle 13 # 17-29" name="user" disabled />
      </div>
      <div class="col-md-3 offset-1">
        <h4 class="poppinsMedium">Celular:</h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="3168250749" name="user" disabled />
        <h4 class="poppinsMedium">Ciudad</h4>
        <input type="text" class="poppinsLight form__field form-control text-left" value="Zipaquirá" name="user" disabled />
      </div>
    </div>
  <button class="btn-floating"><fa-icon [icon]="faPlus"></fa-icon></button>
</div>
