.card {
  margin: 2rem;
  padding: 2rem 4rem 2rem 4rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.container {
  padding: 3vh 2vh 2vh 9vh;
}

h4 {
  color: #343E7D;
  margin-bottom: 1%;
  font-weight: 600;
  font-size: 14px;
}

.form__field {
  border: 0;
  border-bottom: 1px solid#DAE0F6;
  outline: 0;
  font-size: 0.8rem;
  color: #4D5DB7;
  padding: 0px 10px 0px;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 6%;
}

.btn-floating {
  position: absolute;
  top: 2vh;
  right: 4vh;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #343E7D;
  color: white;
  border: #343E7D;
}

.btn-floating:hover {
  background-color: #21274d;
  border: #21274d;
}