<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h1 class="poppinsMedium ml-4">Clientes</h1>
        </div>
        <div id="userDiv">
            <p class="d-inline poppinsMedium mr-3">Aquamonte S.A.S</p>
            <img id="profilePic" class=" d-inline ml-2" src="../../../../assets/images/userIcons/Screenshot_1.png"
                height="70" width="70">
        </div>
    </div>
    <div class="row">
        <div id="searchDiv" class="col">
            <input id="search" type="text" class="form-control ">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <table>
                    <tr class="poppinsMedium">
                        <th>Código</th>
                        <th>Referencia</th>
                        <th>Marca</th>
                        <th>Talla</th>
                        <th>Cant</th>
                        <th>Precio</th>
                        <th>Precio Base</th>
                        <th>IVA</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr class="poppinsLight" *ngFor="let i of template | paginate: {itemsPerPage: 13, currentPage:page}">
                        <td>{{i.codigo}}</td>
                        <td>{{i.referencia}}</td>
                        <td>{{i.Marca}}</td>
                        <td>{{i.Talla}}</td>
                        <td>{{i.Cantidad}}</td>
                        <td>{{i.Precio}}</td>
                        <td>{{i.precioBase}}</td>
                        <td>{{i.Iva}}</td>
                        <td>{{i.subtotal}}</td>
                        <td style="cursor: pointer;">
                            <img src="../../../assets/images/iconos/delete.svg" height="15px" alt="">
                        </td>
                    </tr>
                </table>
                <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel=""
                nextLabel=""  class="pagination mx-auto mt-4 poppinsLight" ></pagination-controls>

            </div>
        </div>
    </div>
</div>