.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  max-width: 100%;
}

.containerImage {
  width: 100%;
}

.containerImage img {
  width: 100%;
  height: 100vh;
}

h3 {
  color: #343E7D;
  margin-bottom: 3%;
  font-weight: 600;
  font-size: 24px;
}

p {
  font-size: 11px;
  color: #4D5DB7;
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 72%;
  }
  .col-md-3 {
    flex: 0 0 28%;
    max-width: 28%;
  }
}

.imageHeader {
  text-align: center;
  margin-top: 6vh;
}

.imageHeader img {
  width: 180px;
  margin: auto;
}

.formLogin {
  margin: 12vh 2vh 0px;
  padding: 0vh 2vh;
}

.form__field {
  font-family: inherit;
  margin-bottom: 8%;
  width: 100%;
  border: 0;
  border-bottom: 3px solid#DAE0F6;
  outline: 0;
  font-size: 0.8rem;
  color: #9299B9;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field:focus {
  display: block;
  transition: 0.2s;
  font-weight: 800;
  padding-bottom: 6px;
  border-bottom: 3px solid#343E7D;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}

::placeholder {
  color: #9299B9;
}

.formLogin a {
  float: right;
  color: #343E7D;
  font-size: 11px;
}

.btnPagar {
  margin-top: 8vh;
  margin: auto;
  width: 70%;
  font-size: 15px;
  background-color: #343E7D;
  border-radius: 8px;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #282f5a;
  border: 1px solid #282f5a;
}

.footer {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  text-align: center;
}

form p {
  margin-bottom: 10vh;
}


