<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle poppinsLight mt-2" type="button"
            data-toggle="dropdown">{{mesas[0]}}
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a (click)="change(1)" style="cursor: pointer;">{{mesas[1]}}</a></li>
          </ul>
        </div>
        <table>
          <tr class="poppinsMedium">
            <th>Código</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th id="tableCorner" class="poppinsMedium text-center">Qubit</th>
          </tr>
          <tr class="poppinsLight" *ngFor="let orden of dataArray; let index=index">
            <td>{{orden.id}}</td>
            <td>{{orden.descripcion}}</td>
            <td>{{orden.cantidad}}</td>
            <td>{{orden.precio}}</td>
            <td class="d-flex justify-content-around qubitIcons" *ngIf="index==0">
              <button (click)='CreateOrden(index)' class="btn-plus">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </td>
            <td class="d-flex justify-content-around qubitIcons" *ngIf="index!=0">
              <img class="editIcons" src="../../../../assets/images/iconos/delete.svg" (click)="deleteConsumidor(index)"
                height="15px" alt="">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8">
            <h4>Forma de pago</h4>
            <div class="selectdiv">
              <select class="form__field" [(ngModel)]="seleccionado">
                <option value="Efectivo" selected>Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <table class="tableCambio">
              <tbody class="tableCambio">
                <tr id="trTotalVenta">
                  <td>Recibe:</td>
                  <td>$91.820</td>
                </tr>
                <tr class="rowSeparate"></tr>
                <tr id="trTotalVenta">
                  <td>Cambio:</td>
                  <td>$91.820</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <table class="tableBottom">
          <tbody class="tableBottom">
            <tr>
              <td>Total venta:</td>
              <td>$10.000</td>
            </tr>
            <tr>
              <td>Base liquidación:</td>
              <td>$81.820</td>
            </tr>
            <tr>
              <td>Impo consumo:</td>
              <td>$81.820</td>
            </tr>
            <tr>
              <td>Servicio voluntario:</td>
              <td>$10.820</td>
            </tr>
          </tbody>
        </table>
        <table class="tableBottom">
          <tbody class="tableBottom">
            <tr class="ContainerTableFactura">
              <td>Valor Total:</td>
              <td>$71.000</td>
            </tr>
          </tbody>
        </table>
        <div class="containerButtoms">
          <button type="submit" class="btn mt-3 Cancelar">Cancelar</button>
          <button type="submit" class="btn mt-3 Pagar">Pagar</button>
        </div>
      </div>
    </div>
  </div>
</div>