h4 {
  font-size: 13px;
  font-weight: 900;
  color: #343E7D;
}


table {
  width: 100%;
}

th, td {
  padding: 5px;
}


.form__field {
  font-family: inherit;
  width: 90%;
  border: 0;
  border-bottom: 1px solid#DAE0F6;
  outline: 0;
  font-size: 0.8rem;
  color: #4D5DB7;
  padding: 0px 10px 0px;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 4vh;
}

.tableBottom {
  border: hidden;
  background-color: white;
}

.tableBottom tr td {
  border: hidden;
  background-color: white;
}