h4 {
  font-size: 13px;
  font-weight: 900;
  color: #343E7D;
  font-family: Poppins-Medium;
}
.qubitIcons{
  border: none;
  background-color: white;
  padding: 7px;
}
.btn-plus {
  padding: 0px 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #343E7D;
  color: white;
  border: #343E7D;
}
.dropdown{
  margin-bottom: 1rem;
}
.dropdown .btn{
  padding: 3px;
  padding-left: 5px;
  font-size: 12px;
  width: 18%;
  text-align: left;
}
.dropdown-toggle::after {
  margin-left: 2.8em;
}
.dropdown .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #343E7D;
  border-color: #343E7D;
}
.form__field {
  font-family: Poppins-Light;
  width: 90%;
  border: 0;
  border-bottom: 1px solid#DAE0F6;
  outline: 0;
  font-size: 0.8rem;
  color: #4D5DB7;
  padding: 0px 10px 0px;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 4vh;
}
.tableBottom{
  background-color: white;
}
.tableCambio{
  margin-top: 5rem;
  background-color: white;
}
.tableBottom td {
  border-collapse: separate;
  border-spacing: 0;
  color: #343E7D;
  border: hidden;
  font-size: 13px;
  font-weight: 500;
  font-family: Poppins-Light;
  background-color: white;
}
.tableCambio td {
  border-collapse: separate;
  border-spacing: 0;
  color: #343E7D;
  border: hidden;
  font-size: 15px;
  font-weight: 500;
  font-family: Poppins-Light;
  background-color: white;
}
.recibeInput{
  background-color: transparent;
  border: none;
  width: 80%;
  color: #343E7D;
  font-size: 15px;
  font-family: Poppins-Light;
  text-align: right;
}
.recibeInput:focus{
  border:none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tdRecibeInput{
  padding: 0px;
  width: 35%;
}
.tableBottom:first-child td:last-child{text-align: right}
.ContainerTableFactura td{
  color: white;
  font-family: Poppins-Light;
  background-color: #343E7D;
}

.ContainerTableFactura:first-child td:first-child { border-top-left-radius: 8px; }
.ContainerTableFactura:first-child td:last-child { border-top-right-radius: 8px; text-align: right;}
.ContainerTableFactura:last-child  td:first-child { border-bottom-left-radius: 8px; }
.ContainerTableFactura:last-child td:last-child { border-bottom-right-radius: 8px; }

.Pagar {
  font-size: 13px;
  padding: 2px 10px 5px;
  width: 12vh;
  background-color: #343E7D;
  border-radius: 6px;
  color: white;
  float: right;
}

.Pagar:hover {
  background-color: white;
  color: #282f5a;
  border: 1px solid #282f5a;
}
.Cancelar {
  font-size: 13px;
  padding: 2px 10px 5px;
  width: 12vh;
  background-color: #9299B9;
  border-radius: 6px;
  color: white;
  float: left;
}
.selectdiv {
  position: relative;
  float: left;
  width: 90%;
}
.selectdiv select option{
  border: none;
  border: 1px solid white;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '>';
  font: 14px "Consolas", monospace;
  color: #343E7D;
  transform: rotate(90deg);
  right: 11px;
  top: 2px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: white;
  background-image: none;
  border: 1px solid white;
  border-bottom: 1px solid#DAE0F6;
  -ms-word-break: normal;
  word-break: normal;
}

.Cancelar:hover {
  background-color: white;
  color: #282f5a;
  border: 1px solid #282f5a;
}
#plusElement{
  padding: 0px 5px;
}
#plusElement:hover {
  background-color: #21274d;
  color: white;
}
#trTotalVenta{
  background-color: #CBD2EC;
  border-radius: 12px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#trTotalVenta td{
  background-color: #CBD2EC;
}
.ContainerTableFactura:first-child, #trTotalVenta td:first-child { border-top-left-radius: 8px; }
.ContainerTableFactura:first-child, #trTotalVenta td:last-child { border-top-right-radius: 8px; text-align: right;}
.ContainerTableFactura:last-child , #trTotalVenta td:first-child { border-bottom-left-radius: 8px; }
.ContainerTableFactura:last-child , #trTotalVenta td:last-child { border-bottom-right-radius: 8px; }

.rowSeparate{
  height: 1rem;
}

@media (min-width: 576px){
  .modal-dialog {
    width: 95%;
    max-width: 95%;
  }
}
.modal-header{
  padding: 5px;
  border-bottom: hidden;
}
.modal-body{
  padding: 0px;
}
.modal-content{
  background-color:transparent;
  border: none;
}
#menuModal .modal-body .close{
  position: absolute;
  right: 1rem;
  z-index: 999;
  padding: 1.5rem;
}
:host ::ng-deep .modal-body .card h4{
  font-size: 1.2rem;
}
:host ::ng-deep .modal-body .card .categoryCard img{
  width: 95px;
}
.serviceCheck{
  position: absolute;
  left: 0px;
  margin-top: 8px;
}
.slideOrder {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}
.slideOrder .closebtn {
  position: absolute;
  top: 0;
  left: 5px;
  color: #818181;
  font-size: 15px;
}
.slideOrder a:hover {
  color: #343E7D;
  text-decoration: none;
}
@media screen and (max-height: 450px) {
.slideOrder {padding-top: 15px;}
.slideOrder a {font-size: 18px;}
}
.underline{
  text-decoration: line-through;
  color: gray;
}