<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="row">
          <div class="col-md-8">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle poppinsLight mt-2" type="button" data-toggle="dropdown"
                *ngIf="mesas.length>0">{{'Mesa '+mesas[0]['mesa']}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let mesa of mesas ; let i=index">
                  <a (click)="change(i)" style="cursor: pointer;" *ngIf="i!=0">{{'Mesa '+mesas[i].mesa}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <label class="containerCheck">
              <input id="domicilio" type="checkbox" (change)="checkedDomicilio($event)">
              <span class="checkmark"></span>
            </label>
            <label for="domicilio" class="domicilioText poppinsMedium">Domicilios</label>
          </div>
        </div>
        <table>
          <tr class="poppinsMedium">
            <th>Código</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th id="tableCorner" class="poppinsMedium text-center">Qubit</th>
          </tr>
          <tr class="poppinsLight" *ngFor="let orden of dataArray; let index=index">
            <td>{{orden.id}}</td>
            <td>{{orden.descripcion}}</td>
            <td>{{orden.cantidad}}</td>
            <td>{{orden.precio | currency : '$': 'symbol':'1.0-0'}}</td>
            <td class="d-flex justify-content-around qubitIcons">
              <img class="editIcons" src="../../../../assets/images/iconos/delete.svg" (click)="deleteConsumidor(index)"
                height="15px" alt="" style="cursor: pointer;">
            </td>
          </tr>
          <tr class="poppinsLight">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="d-flex justify-content-around qubitIcons">
              <button [routerLink]="['./menuTable']" [state]="{'modal':true }" (click)='CreateOrden()' class="btn-plus">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7" *ngIf="orderTemplate">
        <div class="row">
          <div class="col-md-8">
            <h4>Forma de pago</h4>
            <div class="selectdiv">
              <select class="form__field" [(ngModel)]="seleccionado">
                <option value="Efectivo" selected>Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <table class="tableCambio">
              <tbody class="tableCambio">
                <tr id="trTotalVenta">
                  <td>Recibe:</td>
                  <td><input type="text" class="recibeInput" [(ngModel)]="recibeInput"
                      (ngModelChange)="calculaCambio()">
                  </td>
                </tr>
                <tr class="rowSeparate"></tr>
                <tr id="trTotalVenta">
                  <td>Cambio:</td>
                  <td>{{cambioCalcule | currency : '$': 'symbol':'1.0-0'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div [ngClass]="orderTemplate ? 'col-md-5': 'col-md-7' ">
        <table class="tableBottom">
          <tbody class="tableBottom">
            <tr>
              <td>Total venta:</td>
              <td>{{subtotal | currency : '$': 'symbol':'1.0-0'}}</td>
            </tr>
            <tr>
              <td>Base liquidación:</td>
              <td>{{baseLiquidacion | currency : '$': 'symbol':'1.0-0'}}</td>
            </tr>
            <tr>
              <td>Impo consumo:</td>
              <td>{{impoConsumo | currency : '$': 'symbol':'1.0-0'}}</td>
            </tr>
            <input type="checkbox" class="serviceCheck" (change)="propinaChange($event)" *ngIf="orderTemplate">
            <tr [ngClass]="{ 'underline': !propinaBool }" *ngIf="orderTemplate">
              <td>Servicio voluntario:</td>
              <td class="tdRecibeInput"><input type="text" class="recibeInput" [(ngModel)]="propina"
                  (ngModelChange)="llenaValores()"></td>
            </tr>
          </tbody>
        </table>
        <table class="tableBottom">
          <tbody class="tableBottom">
            <tr class="ContainerTableFactura">
              <td>Valor Total:</td>
              <td>{{total | currency : '$': 'symbol':'1.0-0'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="containerButtoms text-center">
          <button type="submit" class="btn mt-3 Cancelar" (click)="cancelOrder()">Cancelar</button>
          <button type="submit" class="btn mt-3 printer" (click)="printerPreVenta()"
            *ngIf="!orderTemplate">Imprimir</button>
          <button type="submit" class="btn mt-3 Pagar"
            (click)="(orderTemplate) ? pagarOrden() : ordenar()">{{(orderTemplate)? 'Pagar' :
            'Ordenar'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
  role="dialog">
  <div id="modalDialog" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close mr-2" aria-label="Close" (click)='closeModal()'>
          <span aria-hidden="true">×</span>
        </button>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<div id="slideOrder" class="slideOrder" [style.width]="widthModal">
  <a href="javascript:void(0)" class="closebtn" (click)="closeModalOrder()" #close>&times;</a>
  <app-nav-order [orderTemplate]="!orderTemplate"></app-nav-order>
</div>

<div class="modal fade" id="domicilioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modalDomicilio" class="modal-content">
      <div class="modalDomicilio-header">
        <h5 class="modal-title ml-3" id="exampleModalLabel">Domicilio</h5>
        <button type="button" class="close mr-2" aria-label="Close" (click)='closeDomicilioModal()'>
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modalDomicilio-body" style="margin-top: 1rem;">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col-4">
              <h6 class="poppinsMedium">Nombre</h6>
              <input type="text" class="poppinsLight form__field text-left" [(ngModel)]="consumidor.nombre"/>
            </div>
            <div class="col-4">
              <h6 class="poppinsMedium">Direccion</h6>
              <input type="text" class="poppinsLight form__field text-left" [(ngModel)]="consumidor.direccion"/>
            </div>
            <div class="col-4">
              <h6 class="poppinsMedium">Celular</h6>
              <input type="text" class="poppinsLight form__field text-left" [(ngModel)]="consumidor.telefono"/>
            </div>
            <div class="col-12">
              <h6 class="poppinsMedium">Comentario</h6>
              <input type="text" class="poppinsLight form__field text-left" [(ngModel)]="comentarioDomicilio" autocomplete="off" />
            </div>
          </div>
        </div>
      </div>
      <div id="footerDomicilio" class="modal-footer mb-2">
        <button type="submit" class="btn btn-secondary mr-4" (click)="generarDomicilio()">Generar factura</button>
        <button type="button" class="btn btn-primary ml-2" (click)='closeDomicilioModal()'>Cancelar</button>
      </div>
    </div>
  </div>
</div>