<div class="container-fluid">
    <section>
        <div class="row mt-3">
            <div class="col">
                <h1 class="poppinsMedium ml-4">Informe</h1>
            </div>
            <div id="userDiv">
                <p class="d-inline poppinsMedium mr-3">Aquamonte S.A.S</p>
                <img id="profilePic" class=" d-inline ml-2" src="../../../../assets/images/userIcons/Screenshot_1.png"
                    height="70" width="70">
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div id="searchDiv" class="col">
                <input id="search" type="text" class="form-control ">

            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="card">
                    <table>
                        <tr class="poppinsMedium">
                            <th>Código</th>
                            <th>Referencia</th>
                            <th>Marca</th>
                            <th>Talla</th>
                            <th>Cant</th>
                            <th>Precio</th>
                            <th>Precio Base</th>
                            <th>IVA</th>
                            <th>Subtotal</th>
                            <th id="tableCorner" class="poppinsMedium text-center">Qubit</th>
                        </tr>
                        <tr class="poppinsLight"
                            *ngFor="let i of template | paginate: {itemsPerPage: 12, currentPage:page}">
                            <td>{{i.codigo}}</td>
                            <td>{{i.referencia}}</td>
                            <td>{{i.Marca}}</td>
                            <td>{{i.Talla}}</td>
                            <td>{{i.Cantidad}}</td>
                            <td>{{i.Precio}}</td>
                            <td>{{i.precioBase}}</td>
                            <td>{{i.Iva}}</td>
                            <td>{{i.subtotal}}</td>
                            <td class="d-flex justify-content-around">
                                <img class="editIcons" src="../../../../assets/images/iconos/edit-button.png"
                                    height="15px" alt="">
                                <img class="editIcons" src="../../../../assets/images/iconos/delete.svg" height="15px"
                                    alt="">
                            </td>
                        </tr>
                    </table>
                    <div  class="row mt-4">
                        <div id="total" class="col-4 mx-auto">
                            <p id="totalText">Total Saldos a Pagar: $71.820</p>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="" nextLabel=""
                        class="pagination mx-auto mt-4 poppinsLight"></pagination-controls>

                </div>
            </div>
        </div>
    </section>
</div>