<section class="app">
  <aside class="sidebar">
    <header>
      <img id="logoParking" class="img-fluid" src="../../../assets/Logo/LogoContable.png" alt="Logo Qubit-Parking"
        width="180" style="max-width: 94%;">
    </header>
    <nav class="sidebar-nav">
        <ul >
          <li >
            <a [routerLink]="['vehicle']"><img src="" width="30" class="navElement" />Facturación.</a>
          </li>
          <li>
            <a [routerLink]="['reportes']"><img src="" width="30" class="navElement" />Clientes</a>
          </li>
          <li>
            <a [routerLink]="['cupo']"><img src="" width="30" class="navElement" />Facturas</a>
          </li>
          <li>
            <a [routerLink]="['vehicle']"><img src="" width="30" class="navElement" />Informes</a>
          </li>
          <li>
            <a [routerLink]="['vehicle']"><img src="" width="30" class="navElement" />Inventario</a>
          </li>
          <li>
            <a [routerLink]="['vehicle']"><img src="" width="30" class="navElement" />Saldos</a>
          </li>
        </ul>
    </nav>
  </aside>
</section>
