<aside class="sidebar">
  <a [routerLink]="['/home/facturacion']">
    <header>
      <img id="logoQubitContable" class="img-fluid" src="../../../assets/images/Logo/LogoContable.png"
        alt="Logo Qubit-Contable">
    </header>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a [routerLink]="['vehicle']" class="poppinsLight"><img src="" width="30"
              class="navElement" />Facturación.</a>
        </li>
        <li>
          <a [routerLink]="['/clients/clientTable']" routerLinkActive="router-link-active" class="poppinsLight"><img src="" width="30" class="navElement" />Clientes</a>
        </li>
        <li>
          <a [routerLink]="['cupo']" class="poppinsLight"><img src="" width="30" class="navElement" />Facturas</a>
        </li>
        <li>
          <a [routerLink]="['vehicle']" class="poppinsLight"><img src="" width="30" class="navElement" />Informes</a>
        </li>
        <li>
          <a [routerLink]="['vehicle']" class="poppinsLight"><img src="" width="30" class="navElement" />Inventario</a>
        </li>
        <li>
          <a [routerLink]="['vehicle']" class="poppinsLight"><img src="" width="30" class="navElement" />Saldos</a>
        </li>
      </ul>
    </nav>
  </a>

</aside>