@font-face {
  font-family: 'Poppins-Light';
  src: url('assets/Fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('assets/Fonts/Poppins-Medium.ttf');
}

.poppinsLight {
  font-family: Poppins-Light;
  color: #343E7D;
}

.poppinsMedium {
  font-family: Poppins-Medium;
  color: #343E7D;
}

/*-----------------Model Style------------------*/

#content {
  flex: 0 0 82.333333%;
  max-width: 82.333333%;
  position: relative;
}

.sidebar {
  position: fixed;
  max-width: 17.666667%;
}

#sideMenu {
  flex: 0 0 17.666667%;
  max-width: 17.666667%;
  position: relative;
}

body {
  background-color: #E9ECF6;
}

/*-----------------Model Style Ends------------------*/

/*-----------------Car Styles----------------------*/

.card {
  margin: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

/*-----------------Car Styles Ends----------------------*/

/*-----------------Table Styles Ends----------------------*/

table, td, th {
  color: #4D5DB7;
  background-color: #E9ECF6;
  border: 1px solid #ADB7F0;
  text-align: left;
  font-size: 12px;
}

th, td {
  padding: 5px;
}

table {
  width: 100%;
}

.pagination /deep/ .ngx-pagination .current {
  background: #4D5DB7;
  clip-path: circle(45% at 50% 50%);
  margin: 1rem;
}

#tableCorner {
  background-color: #4D5DB7;
  color: white;
}

/*-----------------Table Styles Ends----------------------*/

/*-----------------Button styles----------------------*/

.btn {
  background-color: #343E7D;
  color: white;
}
.btn:hover{
  background-color: #21274d;
  color: white;
}

/*-----------------Button styless Ends----------------------*/

/*__________________Serach div styles_____________________-*/

#searchDiv {
  padding-left: 2rem;
}

#search {
  border-radius: 1.25rem!important;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4D5DB7;
  color: white;
  background-image: url(assets/images/iconos/search.png);
  background-size: 4%;
  background-repeat: no-repeat;
  text-indent: 5%;
  background-position: 10px 7px;
}

/*__________________Search  styles ends_____________________-*/



/*__________________UserIcon  styles ends_____________________-*/

#profilePic {
  clip-path: circle(50% at 50% 50%);
  background-color: #6f6e6e26;
}

/*__________________UserIcon  styles ends_____________________-*/
