.card {
    padding: 1.6rem 2rem;
    margin: 0.5rem 1rem;
}

#ingresosBox {
    width: 24vw;
}
.chart-wrapper {
    width: 50%;
}
.firstCards{
  padding: 1.6rem 1.5rem;
}
.barChartWrapper {
    width: 90%;
}
